
html{
    font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
    overflow-x: hidden;
}

body {
    background: #eff0ef ;
  }
  
h1 {
    color: black;
    margin-left: 14px;
    font-size-adjust: inherit;
  }  

h2,h3,h4,h5,h6 {
    color: #2d5c4d;
    margin-left: 14px;
    font-size-adjust: inherit;
  }

p {
      color: black;
      margin-left: 16px;
      font-size-adjust: inherit;

}

a {
    text-decoration: underline;
    color: royalblue;
}

img{
    margin-left: 14px;

}

table{
    padding-left: 1em;
}



videobackground {
  position:relative;
 
}

video{
     min-width: device-width; 
    width: 100%;
    height: 100%;
}

.FooterClass{
    text-align: center;
    position: relative;
        bottom: 0;
}

.FooterClass p{
    color: grey;
}

.section-link a {
    color: black;
    margin: 15px; 
    padding-right: 15px;
    display: inline-block;
    position: relative;
        left: 15px;
    text-decoration: none;
    font-size: 1em;
} 

.section-link a:hover {
    text-decoration: underline;
}

.container{
    padding-top: 1em;
    padding-bottom: 1em;
    width=80%;
    max-width: 1500px;

}

.div0{
    padding-top: 8em;
    padding-bottom: 4em;
    padding-left: 1.5em;
    background: black;
    width: 100%;
    overflow-x: hidden;
}

h7{
    color: white;
    font-size: 3em;
}

q {
    color: #eff0ef;
}

.div1 q {
    color: white
}

.div1{
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 1em;
    background: white; 
    border-style: ridge;
}

.topnav {
  overflow: hidden;
  background-color: #333;
    position: fixed;
        top:0;
        margin: 0em;
        margin-left: -1em;
        padding-right: 0 em;
        width: -webkit-fill-available;}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
    position: fixed;
        top:0;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: fixed;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}}



