
html{
    font-family: 'Poppins', sans-serif;
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    background: #eff0ef ;
  }

::-moz-selection {
  color: white;
  background: #FF853D;
}

::selection {
  color: white;
  background: #FF853D;
}


.progress-container {
    position: fixed;
    top: 3em;
    z-index: 2;
  width: 100%;
}

.progress-box {

  height: 4px;
  background: #f2f2f2;
}

.progress-bar {

  height: 4px;
  background: #3DFFFE;
  width: 0%;
}


.me1 {
    padding-top: 1em;
    padding-bottom: 1em;
    background: white; 
    border-style: ridge;
    width: 31%;
    min-width: 350px;
    display: inline-block;
}

.me2 {
    padding-top: 1em;
    padding-bottom: 1em;
    background: none;
    width: 24%;
    min-width: 350px;
    display: inline-block;
}

.me1 img {
    border-radius: 50%;
}

.container{
    padding-top: 1em;
    padding-bottom: 1em;
    width=100%;
    max-width: 1500px;
    vertical-align: top;
    margin: 0 auto;

}

.div1 q {
    color: white
}

.div1{
    padding-top: 1em;
    padding-bottom: 1em;
    background: white; 
    border-style: ridge;
    width: 49.6%;
    min-width: 350px;
    display: inline-block;
    vertical-align: top;

    
}

.div1 tr td:nth-child(2){
    width: 20%;
}

.div1 img{
    max-width: 300px;
}

.name{
    background: black;
    padding-top: 8em;
    padding-bottom: 4em;
}

.name h1{
    color: white;
    text-align: center;
}

.name h2{
    color: whitesmoke;
    text-align: center;
    font-size: 1.75em;
}

.name a{
    text-decoration: none;
}

h1 {
    color: black;
    margin-left: 14px;
    font-size-adjust: inherit;
  }  

h2,h3,h4,h5,h6 {
    color: #2d5c4d;
    margin-left: 14px;
    font-size-adjust: inherit;
  }

p {
    color: black;
    margin-left: 1em;
    margin-right: 1em;
    
      font-size-adjust: inherit;

}

a {
    text-decoration: underline;
    color: #FF853D;
}

img{
    margin-left: 14px;

}

table{
    padding-left: 1em;
    width: 100%
}



.FooterClass{
    text-align: center;
    position: relative;
        bottom: 0;
}

.FooterClass p{
    color: grey;
}

.section-link a {
    color: black;
    margin: 15px; 
    padding-right: 15px;
    display: inline-block;
    position: relative;
        left: 15px;
    text-decoration: none;
    font-size: 1em;
} 


h7{
    color: white;
    font-size: 3em;
}

q {
    color: #eff0ef;
}

.topnav {
  overflow: hidden;
  background-color: #333;
    z-index: 2;
    position: fixed;
        top:0;
        margin: 0em;
        margin-left: -1em;
        padding-right: 0 em;
        width: 100%;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
    font-size: 1.25em;

}

.topnav a:hover {
  color: aqua;
}


.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    position: absolute;
    left: 16em;
    top: 0;
    display: inline-block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: fixed;}
  .topnav.responsive .icon {
    position: absolute;
    left: 16em;
    top: 0;
    display: inline-block;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
  background-color: transparent;
  width: 100%;
  height: 250px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
    display: inline-block;
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
    
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
    border-style: ridge;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side */
.flip-box-front {
  background-color: white;
  color: black;
}

/* Style the back side */
.flip-box-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
}

@media only screen and (max-width: 600px) {

    .flip-box-inner ,.flip-box-front,.flip-box-back{
        cursor:pointer;
        overflow: visible !important;
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
    }
    .div1{
        min-width: 90%;
        width: 98%;
    }
}

