html{
    font-family: 'Courier New', Courier, monospace;
    overflow-x: hidden;
}

body {
    background-color: rgb(209, 233, 241);
  }
  
  h1 {
    color: navy;
    margin-left: 14px;
    font-size-adjust: inherit;
  }

  h2 {
    color: navy;
    margin-left: 14px;
    font-size-adjust: inherit;

  }

  h3 {
    color: navy;
    margin-left: 14px;
    font-size-adjust: inherit;

  }

  p {
      color: black;
      margin-left: 16px;
      font-size-adjust: inherit;

  }

#navigation {
    background: black;
    border-bottom: black 1px solid;
    height: 55px;
    position: relative;
    margin: -8px;
    width: 100%;
    padding-right: 20px;
}

.section-link a {
    border-right:white 1px solid;
    color: white;
    margin: 15px; 
    padding-right: 15px;
    display: inline-block;
    position: relative;
        left: 15px;
} 


