
html{
    font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
    overflow-x: hidden;
}

body {
    background: #fbf7f5;
  }
  
  h1 {
    color: navy;
    margin-left: 14px;
    font-size-adjust: inherit;
  }

  h2 {
    color: navy;
    margin-left: 14px;
    font-size-adjust: inherit;

  }

  h3 {
    color: navy;
    margin-left: 14px;
    font-size-adjust: inherit;

  }

  h4 {
    color: navy;
    margin-left: 14px;
    font-size-adjust: inherit;

  }

  h5 {
    color: navy;
    margin-left: 14px;
    font-size-adjust: inherit;

  }

  h6 {
    color: navy;
    margin-left: 14px;
    font-size-adjust: inherit;

  }


  p {
      color: black;
      margin-left: 16px;
      font-size-adjust: inherit;

  }

a {
    text-decoration: underline;
    color: royalblue;
}

img{
    margin-left: 14px;

}

table{
    padding-left: 1em;
}

#navigation {
    background: black;
    border-bottom: black 1px solid;
    position: fixed;
        top:0;
        margin: 0em;
        margin-left: -1em;
        padding-right: 2em;
    <script>
    if(device-width<800px){
        height: 10em;
        min-width: device-width;
        
    }
    else{
        height: 3 em;
        min-width: 800px;
    }
    </script>


}


#banner{
    position: relative;
}

.FooterClass{
    text-align: center;
    position: relative;
        bottom: 0;
}

.section-link a {
    color: white;
    margin: 15px; 
    padding-right: 15px;
    display: inline-block;
    position: relative;
        left: 15px;
    text-decoration: none;
    font-size: 1em;
} 

.section-link a:hover {
    text-decoration: underline;
}

.container{
    padding-top: 1em;
    padding-bottom: 1em;
    width=80%;
}

.div1{
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 1em;
    background: white; 
    border-style: ridge;
}
.div2{
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 1em;
    background: white;
    border-style: ridge;
}
.div3{
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 1em;
    background: white;
    border-style: ridge;
}
.div4{
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 1em;
    background: white;
    border-style: ridge;
}



